* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
a {
  text-decoration: none;
  background-color: transparent;
}
img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
	border-style: none;
}
li {
  list-style: none;
}
h1,h2,h3,h4,h5,h6,a {
	margin: 0;
}
.container {
	width: 980px;
	margin: 0 auto;
}
